:root {
  --primary: #05989e;
  --primary-variant: #3700b3;
  --secondary: #121212;
  --tersier: #ffffff;
  --grey: #c7c7c7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Lato" sans-serif;
  background-color: var(--tersier);
  color: var(--primary);
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  color: white;
  color: #05989e;
  border: 1px solid white;
  transition: 0.6s;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid white;
  border: 1px solid grey;
  background: #05989e;
  background: white;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-bottom: 1px solid #05989e;
  background: #05989e;
}

header h1 {
  margin: 8px 0;
  flex: 1;
  color: white;
}

main {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

main h2 {
  font-weight: normal;
  margin: 16px 0;
  color: #05989e;
}

.note-input {
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 48px;
  /* background: #05989e; */
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
  border: 1px solid #05989e;
}

.input-title {
  font-weight: bold;
}

.input-body {
  min-height: 375px;
}

.input-archived {
  display: inline-flex;
}

.input-archived input {
  flex: 1;
  margin-right: 8px;
}

.input-archived p {
  margin-top: 6px;
  flex: 1;
  font-weight: bold;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  color: #05989e;
  border: 1px solid #05989e;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.list-note {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.empty-message {
  text-align: center;
  color: #aaa;
}

.note-item {
  border: 1px solid #05989e;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 12px;
  flex: 1;
}

.item-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  color: var(--primary);
}

.item-date {
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--grey);
}

.item-body {
  font-size: 14px;
  text-align: justify;
  min-height: 150px;
}

.action {
  display: flex;
}

.action-button {
  flex: 1;
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #05989e;
  padding: 8px 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
  min-width: 50px;
  transition: 0.5s;
  color: #05989e;
}

.border-right {
  border-right: 1px solid #05989e;
}

.action .delete {
  color: #ff0000;
}

.action-button:hover,
button:hover {
  background-color: #05989e;
  color: white;
  transition: 0.5s;
}

.action-button:active,
button:active {
  transform: translateY(4px);
  transition: transform 0.3s ease;
}

.action-button:focus,
button:focus {
  outline: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #05989e;

  height: 2.5rem;
  width: 100%;
  text-align: center;
  padding: 16px;
  border-top: 1px solid #05989e !important;
  font-size: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

footer p {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 500px) {
  .list-note,
  .archive-note {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .list-note,
  .archive-note {
    grid-template-columns: repeat(2, 1fr);
  }

  .search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 1000px) {
  .list-note,
  .archive-note {
    grid-template-columns: repeat(3, 1fr);
  }
}
